body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

.half-width-1{
    width: 40%;
    float:left;
    margin-left: 2%;
padding-left: 2%;
}

.half-width-2{
    width: 40%;
    float: left;;
    margin-left: 2%;
padding-left: 2%;
box-shadow: 10px 10px 50px gray;
border-radius: 10px;
height: 30%;
width: 40%;
padding: 3.5%;

}

.half-width-img-1{
    width: 40%;
    float: right;;
    margin-right: 4%;
padding-right: 4%;
}

.half-width-img-2{
    width: 50%;
    float: left;;
    margin-left: 2%;
padding-left: 2%;
}


.top-background{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.tkt-background{
    background-image: url("images/button-background.png");
    background-repeat: no-repeat;
    margin-bottom: 100px;   
    background-position: right; 
}

section{
    height: 600px;  
}

.crea-link{
    text-decoration: none;
    color: black;
    font-weight: bold; 
}

.crea-link-button{
    background-image: linear-gradient(45deg, rgb(235, 80, 214), rgb(100, 5, 88));
    padding: 6px 20px;
    border-radius: 7px;
}

.G-Tech{
    color: brown;
}
